
@media only screen and (max-width:1200px) {
    html {
     font-size: 55%;
     }
   }
   @media only screen and (max-width:991px) {
    header{
         left:-120%;
     }
     #menu{
         display: block;
     }
     body{
        padding: 0;
     }
     header.toggle{
        left:0%;
    }
    }

    @media only screen and (max-width:768px) {
        html{
            font-size: 50%;
         }
        
        }
        

    @media only screen and (max-width:400px) {
        header{
             min-height: 100vh;
         }
        
        }
        
    