@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

:root{
    --bs-green: #27ae60;
    --bs-yeiiow: #f9ca24;
    --bs-black: #444;
    --bs-light: #777;
    --bs-bg-color: #e6e6e6;
    --bs-border:.1rem solid rgba(0,0,0,.2);
    --box-shadow:.4rem .4rem 1rem #ccc,
                -.4rem -.4rem 1rem #fff;
    --box-shadow-inset:.4rem .4rem 1rem #ccc inset,
                        -.4rem -.4rem 1rem #fff inset;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: navajowhite;
    border:none;
    text-transform: capitalize;
    transition: all .2s linear;

}

*::selection{
    background-color: var(--bs-yeiiow);
    color: #333;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}


html::-webkit-scrollbar-thumb{
    background:var(--bs-yeiiow);
}
body{
    background-color: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}
section {
    padding:1rem 5%;
    min-height: 100vh;
}
.heading{
    font-size: 4rem;
    padding-bottom: 1rem;
    color: var(--bs-bg-color);
    text-transform: uppercase;
}
.heading span{
    
    color: var(--bs-yeiiow);
    text-transform: uppercase;
}
.heading{
    font-size: 4rem;
    padding-bottom:1rem;
    text-transform: uppercase;
}
.btn{
    display: inline-block;
    margin-top: 1rem;
    padding:.8rem 3rem;
    background: var(--bs-light);
    color: var(--bs-bg-color);
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: 5px;
}
.btn:hover{
    background: var(--bs-yeiiow);
    letter-spacing: .2rem;
}


header{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    height: 100%;
    width:35rem;
    background: #1a1a1a;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
   height:17rem;
   width:17rem;
   border-radius: 50%;
   object-fit: cover;
   margin-bottom: 1rem;
   border:.7rem solid var(--bs-yeiiow);
}

header .user .name{
    font-size: 3.5rem;
    color: var(--bs-bg-color);
    
}
header .user .profession{
    font-size: 2.5rem;
    color: var(--bs-green);
}
header .navication{
    width: 100%;
}
header .navication ul{
    list-style: none;
    padding:1rem 3rem;

}

header .navication ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem;
    background: var(--bs-light);
    color: var(--bs-bg-color);
    font-size: 2rem;
    border-radius: 5rem;
}

header .navication ul li a:hover{
    background: var(--bs-yeiiow);
}


#menu{
    position: fixed;
    top:2rem; right:2rem;
    background: #333;
    color: var(--bs-bg-color);
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}
.home .images{
    flex:1 1 40rem;
}
.home .images img{
    width: 100%;

}
.home .content{
    flex:1 1 40rem;
}
.home .content .hi{
    font-size: 2rem;
    color: var(--bs-bg-color);
}
.home .content h3{
    font-size: 4.5rem;
    color: var(--bs-bg-color);
    text-transform: uppercase;
}
.home .content h3 span{
    color: var(--bs-yeiiow);
    text-transform: uppercase;
}

.home .content .info{
    font-size: 2.5rem;
    color: var(--bs-bg-color);
    padding:.5rem 0;
}
.home .content .more-info{
    font-size: 1.7rem;
    color: var(--bs-bg-color);
    padding:.5rem 0;
}

.about .row-1{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 2rem;
}
.about .row-1 .images{
    flex:1 1 25rem;
}
.about .row-1 .images img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:1rem solid var(--bs-yeiiow);
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgb(55, 39, 39);
}
.about .row-1 .content{
    flex:1 1 50rem;
}
.about .row-1 .content h3{
    color: var(--bs-bg-color);
    font-size: 3.5rem;
}
.about .row-1 .content p{
    color: var(--bs-bg-color);
    font-size: 1.7rem;
    padding:.5rem 0;
}
.about .row-1 .content .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding: 0.5rem 0;
}
.about .row-1 .content .box-container .box{
    flex:1 1 20rem;
}
.about .row-1 .content .box-container .box span{
    color: var(--bs-yeiiow);
}
.about .row-2{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}
.about .row-2 .skills{
    flex:1 1 40rem;
}

.about .row-2 .skills .pogress{
    padding:1rem 0;
}
.about .row-2 .skills .pogress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color: var(--bs-bg-color);
    font-weight: 400;
}
.about .row-2 .skills .pogress .bar{
    width: 100%;
    background: var(--bs-bg-color);
    overflow: hidden;
    height:1rem;
    border-radius: 50rem;
}
.about .row-2 .skills .pogress .bar span{
    display: block;
    height: 100%;
    background: var(--bs-yeiiow);
}
.about .row-2 .skills .pogress:nth-child(1) .bar span{
    width: 95%;
}
.about .row-2 .skills .pogress:nth-child(2) .bar span{
    width: 80%;
}
.about .row-2 .skills .pogress:nth-child(3) .bar span{
    width: 95%;
}
.about .row-2 .skills .pogress:nth-child(4) .bar span{
    width: 70%;
}
.about .row-2 .box-container{
    flex:1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.about .row-2 .box-container .box{
    flex:1 1 15rem;
    background: var(--bs-bg-color);
    padding:2rem;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem var(--bs-light);
}
.about .row-2 .box-container .box h3{
    color: var(--bs-yeiiow);
    font-size: 3rem;
}
.about .row-2 .box-container .box p{
    color: var(--bs-light);
    font-size: 1.7rem;
    padding-top: .5rem;
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
    
}
.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--bs-bg-color);
    position: relative;
}
.education .box-container .box span{
    font-size: 1.3rem;
    background: var(--bs-light);
    color: var(--bs-bg-color);
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}
.education .box-container .box h3{
    font-size: 2rem;
    color: var(--bs-bg-color);
    padding-top: 1.5rem;
}
.education .box-container .box  p{
    font-size: 1.4rem;
    color: var(--bs-bg-color);
    padding: 1rem;


}
.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--bs-bg-color);
    background: var(--bs-yeiiow);

}
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}
.services .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    
    padding: 2rem;
    background: var(--bs-bg-color);
    border-radius: .5rem;
    box-shadow: .5rem 1rem rgb(0, 0, 0, .1);
}

.services .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: var(--bs-bg-color);
    background: var(--bs-yeiiow);
    border-radius: 50%;
}
.services .box-container .box h3{
    font-size: 2.2rem;
    color: var(--bs-black);
    padding-top: 1rem;
}
.services .box-container .box p{
    font-size: 1.7rem;
    color: var(--bs-black);
}



























